
.form-wizard {
padding-bottom: 50px;
	background: #fff; 
	border-radius: 4px; 
    line-height: 30px;
    text-align: center;
}
.form-wizard label { font-weight: 300; }
.form-wizard label span { color:#D5A677; }


.form-wizard .btn {
	min-width: 105px;
	height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.form-wizard .btn:hover {
	background:#f34727; 
	color: #fff; 
	}
.form-wizard .btn:active { 
	outline: 0; 
	background:#f34727; 
	color: #fff; 
	-moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none; 
	}
.form-wizard .btn:focus,
.form-wizard .btn:active:focus,
.form-wizard .btn.active:focus { 
	outline: 0; 
	background:#f34727; 
	color: #fff; 
}

.form-wizard .btn.btn-next,
.form-wizard .btn.btn-next:focus,
.form-wizard .btn.btn-next:active:focus, 
.form-wizard .btn.btn-next.active:focus { 
background: #D5A677; 
}

.form-wizard .btn.btn-submit,
.form-wizard .btn.btn-submit:focus,
.form-wizard .btn.btn-submit:active:focus, 
.form-wizard .btn.btn-submit.active:focus { 
background: #D5A677; 
}

.form-wizard .btn.btn-previous,
.form-wizard .btn.btn-previous:focus,
.form-wizard .btn.btn-previous:active:focus, 
.form-wizard .btn.btn-previous.active:focus { 
background: #bbb;
}

.form-wizard .success h3{
	color: #4F8A10;
	text-align: center;
	margin: 20px auto !important;
}
.form-wizard .success .success-icon {
	color: #4F8A10;
	font-size: 100px;
	border: 5px solid #4F8A10;
	border-radius: 100px;
	text-align: center !important;
	width: 110px;
	margin: 25px auto;
}
.form-wizard .progress-bar {
	background-color: #D5A677;
}

.form-wizard-steps{
	margin: auto;
	overflow: hidden;
	position: relative;
	background: #B4975A;
	padding: 14px;
}

.form-wizard-progress {
	position: absolute;
	top: 41px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #b4975a;
}
.form-wizard-progress-line { 
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 1px; 
	background: #fff;
}

.form-wizard-tolal-steps-3 .form-wizard-step { 
	position: relative;
	float: left; 
	width: 33.33%; 
	padding: 0 5px; 
}
.form-wizard-tolal-steps-4 .form-wizard-step { 
	position: relative; 
	float: left; 
	width: 25%; 
	padding: 0 5px; 
}
.form-wizard-tolal-steps-5 .form-wizard-step { 
	position: relative;
	float: left;
	width: 20%;
	padding: 0 5px;
}




.form-wizard-step-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-top: 4px;
	background: #b4975a;
	font-size: 16px;
	border: 1px solid #fff;
	color: #fff;
	line-height: 40px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.form-wizard-step.activated .form-wizard-step-icon {
	background: #fff; 
	border: 1px solid #D5A677; 
	color: #D5A677; 
	line-height: 38px;
}
.form-wizard-step.active .form-wizard-step-icon {
	width: 48px;
	height: 48px;
	margin-top: 0;
	background: #b4975a;
	border: 1px solid #fff;
	font-size: 22px;
	line-height: 48px;
}

.form-wizard-step p { color: #ccc; }
.form-wizard-step.activated p { color: #fff; }
.form-wizard-step.active p {
	color: #ffffff;
}

.form-wizard fieldset { 
	display: none; 
	text-align: left; 
	border:0px !important;
	margin: 30px 0 0;
}

.form-wizard-buttons { text-align: right; }

.form-wizard .input-error { border-color: #D5A677;}

