.datepicker {
    padding: 2rem;
    border-radius: 1px;
    direction: ltr;
    border: none !important
}

.datepicker-inline {
    width: 220px
}

.datepicker.datepicker-rtl {
    direction: rtl
}

.datepicker.datepicker-rtl table tr td span {
    float: right
}

.datepicker-dropdown {
    top: 0;
    left: 0
}

.datepicker-dropdown.datepicker-orient-bottom {
    margin-top: 1.8rem
}

.datepicker>div {
    display: none
}

.datepicker.days div.datepicker-days,
.datepicker.months div.datepicker-months,
.datepicker.years div.datepicker-years {
    display: block
}

.datepicker table {
    margin: 0;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 1px;
    border: none
}

.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
    background-color: transparent
}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
    background: #eee;
    cursor: pointer
}

.datepicker table tr td.new,
.datepicker table tr td.old {
    color: #999
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: 0 0;
    color: #999;
    cursor: default
}

.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
    color: #000;
    background-color: #ffdb99
}

.datepicker table tr td.today.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:focus,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.disabled:hover:focus,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:focus,
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today:hover:focus,
.datepicker table tr td.today:hover:hover,
.open .dropdown-toggle.datepicker table tr td.today,
.open .dropdown-toggle.datepicker table tr td.today.disabled,
.open .dropdown-toggle.datepicker table tr td.today.disabled:hover,
.open .dropdown-toggle.datepicker table tr td.today:hover {
    color: #000;
    background-color: #ffcd70
}

.datepicker table tr td.today.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today:hover:active,
.open .dropdown-toggle.datepicker table tr td.today,
.open .dropdown-toggle.datepicker table tr td.today.disabled,
.open .dropdown-toggle.datepicker table tr td.today.disabled:hover,
.open .dropdown-toggle.datepicker table tr td.today:hover {
    background-image: none
}

.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled.disabled.active,
.datepicker table tr td.today.disabled.disabled:active,
.datepicker table tr td.today.disabled.disabled:focus,
.datepicker table tr td.today.disabled.disabled:hover,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:focus,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today.disabled:hover.disabled.active,
.datepicker table tr td.today.disabled:hover.disabled:active,
.datepicker table tr td.today.disabled:hover.disabled:focus,
.datepicker table tr td.today.disabled:hover.disabled:hover,
.datepicker table tr td.today.disabled:hover[disabled],
.datepicker table tr td.today.disabled:hover[disabled].active,
.datepicker table tr td.today.disabled:hover[disabled]:active,
.datepicker table tr td.today.disabled:hover[disabled]:focus,
.datepicker table tr td.today.disabled:hover[disabled]:hover,
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled[disabled].active,
.datepicker table tr td.today.disabled[disabled]:active,
.datepicker table tr td.today.disabled[disabled]:focus,
.datepicker table tr td.today.disabled[disabled]:hover,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today:hover.disabled.active,
.datepicker table tr td.today:hover.disabled:active,
.datepicker table tr td.today:hover.disabled:focus,
.datepicker table tr td.today:hover.disabled:hover,
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today:hover[disabled].active,
.datepicker table tr td.today:hover[disabled]:active,
.datepicker table tr td.today:hover[disabled]:focus,
.datepicker table tr td.today:hover[disabled]:hover,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today[disabled].active,
.datepicker table tr td.today[disabled]:active,
.datepicker table tr td.today[disabled]:focus,
.datepicker table tr td.today[disabled]:hover,
fieldset[disabled] .datepicker table tr td.today,
fieldset[disabled] .datepicker table tr td.today.active,
fieldset[disabled] .datepicker table tr td.today.disabled,
fieldset[disabled] .datepicker table tr td.today.disabled.active,
fieldset[disabled] .datepicker table tr td.today.disabled:active,
fieldset[disabled] .datepicker table tr td.today.disabled:focus,
fieldset[disabled] .datepicker table tr td.today.disabled:hover,
fieldset[disabled] .datepicker table tr td.today.disabled:hover.active,
fieldset[disabled] .datepicker table tr td.today.disabled:hover:active,
fieldset[disabled] .datepicker table tr td.today.disabled:hover:focus,
fieldset[disabled] .datepicker table tr td.today.disabled:hover:hover,
fieldset[disabled] .datepicker table tr td.today:active,
fieldset[disabled] .datepicker table tr td.today:focus,
fieldset[disabled] .datepicker table tr td.today:hover,
fieldset[disabled] .datepicker table tr td.today:hover.active,
fieldset[disabled] .datepicker table tr td.today:hover:active,
fieldset[disabled] .datepicker table tr td.today:hover:focus,
fieldset[disabled] .datepicker table tr td.today:hover:hover {
    background-color: #ffdb99
}

.datepicker table tr td.today:hover:hover {
    color: #000
}

.datepicker table tr td.today.active:hover {
    color: #fff
}

.datepicker table tr td.range,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover,
.datepicker table tr td.range:hover {
    background: #eee;
    border-radius: 0
}

.datepicker table tr td.range.today,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today:hover {
    color: #000;
    background-color: #f7ca77;
    border-radius: 0
}

.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:focus,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover.active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.disabled:hover:focus,
.datepicker table tr td.range.today.disabled:hover:hover,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:focus,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today:hover:focus,
.datepicker table tr td.range.today:hover:hover,
.open .dropdown-toggle.datepicker table tr td.range.today,
.open .dropdown-toggle.datepicker table tr td.range.today.disabled,
.open .dropdown-toggle.datepicker table tr td.range.today.disabled:hover,
.open .dropdown-toggle.datepicker table tr td.range.today:hover {
    color: #000;
    background-color: #f4bb51
}

.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover.active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today:hover:active,
.open .dropdown-toggle.datepicker table tr td.range.today,
.open .dropdown-toggle.datepicker table tr td.range.today.disabled,
.open .dropdown-toggle.datepicker table tr td.range.today.disabled:hover,
.open .dropdown-toggle.datepicker table tr td.range.today:hover {
    background-image: none
}

.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled.disabled,
.datepicker table tr td.range.today.disabled.disabled.active,
.datepicker table tr td.range.today.disabled.disabled:active,
.datepicker table tr td.range.today.disabled.disabled:focus,
.datepicker table tr td.range.today.disabled.disabled:hover,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:focus,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover.disabled,
.datepicker table tr td.range.today.disabled:hover.disabled.active,
.datepicker table tr td.range.today.disabled:hover.disabled:active,
.datepicker table tr td.range.today.disabled:hover.disabled:focus,
.datepicker table tr td.range.today.disabled:hover.disabled:hover,
.datepicker table tr td.range.today.disabled:hover[disabled],
.datepicker table tr td.range.today.disabled:hover[disabled].active,
.datepicker table tr td.range.today.disabled:hover[disabled]:active,
.datepicker table tr td.range.today.disabled:hover[disabled]:focus,
.datepicker table tr td.range.today.disabled:hover[disabled]:hover,
.datepicker table tr td.range.today.disabled[disabled],
.datepicker table tr td.range.today.disabled[disabled].active,
.datepicker table tr td.range.today.disabled[disabled]:active,
.datepicker table tr td.range.today.disabled[disabled]:focus,
.datepicker table tr td.range.today.disabled[disabled]:hover,
.datepicker table tr td.range.today:hover.disabled,
.datepicker table tr td.range.today:hover.disabled.active,
.datepicker table tr td.range.today:hover.disabled:active,
.datepicker table tr td.range.today:hover.disabled:focus,
.datepicker table tr td.range.today:hover.disabled:hover,
.datepicker table tr td.range.today:hover[disabled],
.datepicker table tr td.range.today:hover[disabled].active,
.datepicker table tr td.range.today:hover[disabled]:active,
.datepicker table tr td.range.today:hover[disabled]:focus,
.datepicker table tr td.range.today:hover[disabled]:hover,
.datepicker table tr td.range.today[disabled],
.datepicker table tr td.range.today[disabled].active,
.datepicker table tr td.range.today[disabled]:active,
.datepicker table tr td.range.today[disabled]:focus,
.datepicker table tr td.range.today[disabled]:hover,
fieldset[disabled] .datepicker table tr td.range.today,
fieldset[disabled] .datepicker table tr td.range.today.active,
fieldset[disabled] .datepicker table tr td.range.today.disabled,
fieldset[disabled] .datepicker table tr td.range.today.disabled.active,
fieldset[disabled] .datepicker table tr td.range.today.disabled:active,
fieldset[disabled] .datepicker table tr td.range.today.disabled:focus,
fieldset[disabled] .datepicker table tr td.range.today.disabled:hover,
fieldset[disabled] .datepicker table tr td.range.today.disabled:hover.active,
fieldset[disabled] .datepicker table tr td.range.today.disabled:hover:active,
fieldset[disabled] .datepicker table tr td.range.today.disabled:hover:focus,
fieldset[disabled] .datepicker table tr td.range.today.disabled:hover:hover,
fieldset[disabled] .datepicker table tr td.range.today:active,
fieldset[disabled] .datepicker table tr td.range.today:focus,
fieldset[disabled] .datepicker table tr td.range.today:hover,
fieldset[disabled] .datepicker table tr td.range.today:hover.active,
fieldset[disabled] .datepicker table tr td.range.today:hover:active,
fieldset[disabled] .datepicker table tr td.range.today:hover:focus,
fieldset[disabled] .datepicker table tr td.range.today:hover:hover {
    background-color: #f7ca77
}

.datepicker table tr td.selected,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover {
    color: #fff;
    background-color: #999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.datepicker table tr td.selected.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:focus,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover.active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.disabled:hover:focus,
.datepicker table tr td.selected.disabled:hover:hover,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:focus,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected:hover:focus,
.datepicker table tr td.selected:hover:hover,
.open .dropdown-toggle.datepicker table tr td.selected,
.open .dropdown-toggle.datepicker table tr td.selected.disabled,
.open .dropdown-toggle.datepicker table tr td.selected.disabled:hover,
.open .dropdown-toggle.datepicker table tr td.selected:hover {
    color: #fff;
    background-color: #858585
}

.datepicker table tr td.selected.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover.active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected:hover:active,
.open .dropdown-toggle.datepicker table tr td.selected,
.open .dropdown-toggle.datepicker table tr td.selected.disabled,
.open .dropdown-toggle.datepicker table tr td.selected.disabled:hover,
.open .dropdown-toggle.datepicker table tr td.selected:hover {
    background-image: none
}

.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled.disabled,
.datepicker table tr td.selected.disabled.disabled.active,
.datepicker table tr td.selected.disabled.disabled:active,
.datepicker table tr td.selected.disabled.disabled:focus,
.datepicker table tr td.selected.disabled.disabled:hover,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:focus,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover.disabled,
.datepicker table tr td.selected.disabled:hover.disabled.active,
.datepicker table tr td.selected.disabled:hover.disabled:active,
.datepicker table tr td.selected.disabled:hover.disabled:focus,
.datepicker table tr td.selected.disabled:hover.disabled:hover,
.datepicker table tr td.selected.disabled:hover[disabled],
.datepicker table tr td.selected.disabled:hover[disabled].active,
.datepicker table tr td.selected.disabled:hover[disabled]:active,
.datepicker table tr td.selected.disabled:hover[disabled]:focus,
.datepicker table tr td.selected.disabled:hover[disabled]:hover,
.datepicker table tr td.selected.disabled[disabled],
.datepicker table tr td.selected.disabled[disabled].active,
.datepicker table tr td.selected.disabled[disabled]:active,
.datepicker table tr td.selected.disabled[disabled]:focus,
.datepicker table tr td.selected.disabled[disabled]:hover,
.datepicker table tr td.selected:hover.disabled,
.datepicker table tr td.selected:hover.disabled.active,
.datepicker table tr td.selected:hover.disabled:active,
.datepicker table tr td.selected:hover.disabled:focus,
.datepicker table tr td.selected:hover.disabled:hover,
.datepicker table tr td.selected:hover[disabled],
.datepicker table tr td.selected:hover[disabled].active,
.datepicker table tr td.selected:hover[disabled]:active,
.datepicker table tr td.selected:hover[disabled]:focus,
.datepicker table tr td.selected:hover[disabled]:hover,
.datepicker table tr td.selected[disabled],
.datepicker table tr td.selected[disabled].active,
.datepicker table tr td.selected[disabled]:active,
.datepicker table tr td.selected[disabled]:focus,
.datepicker table tr td.selected[disabled]:hover,
fieldset[disabled] .datepicker table tr td.selected,
fieldset[disabled] .datepicker table tr td.selected.active,
fieldset[disabled] .datepicker table tr td.selected.disabled,
fieldset[disabled] .datepicker table tr td.selected.disabled.active,
fieldset[disabled] .datepicker table tr td.selected.disabled:active,
fieldset[disabled] .datepicker table tr td.selected.disabled:focus,
fieldset[disabled] .datepicker table tr td.selected.disabled:hover,
fieldset[disabled] .datepicker table tr td.selected.disabled:hover.active,
fieldset[disabled] .datepicker table tr td.selected.disabled:hover:active,
fieldset[disabled] .datepicker table tr td.selected.disabled:hover:focus,
fieldset[disabled] .datepicker table tr td.selected.disabled:hover:hover,
fieldset[disabled] .datepicker table tr td.selected:active,
fieldset[disabled] .datepicker table tr td.selected:focus,
fieldset[disabled] .datepicker table tr td.selected:hover,
fieldset[disabled] .datepicker table tr td.selected:hover.active,
fieldset[disabled] .datepicker table tr td.selected:hover:active,
fieldset[disabled] .datepicker table tr td.selected:hover:focus,
fieldset[disabled] .datepicker table tr td.selected:hover:hover {
    background-color: #999
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
    color: #fff;
    background-color: #be3a31;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active:hover:hover,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover,
.open .dropdown-toggle.datepicker table tr td.active:hover {
    color: #fff;
    background-color: #be3a31
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover,
.open .dropdown-toggle.datepicker table tr td.active:hover {
    background-image: none
}

.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled.disabled.active,
.datepicker table tr td.active.disabled.disabled:active,
.datepicker table tr td.active.disabled.disabled:focus,
.datepicker table tr td.active.disabled.disabled:hover,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover.disabled.active,
.datepicker table tr td.active.disabled:hover.disabled:active,
.datepicker table tr td.active.disabled:hover.disabled:focus,
.datepicker table tr td.active.disabled:hover.disabled:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled:hover[disabled].active,
.datepicker table tr td.active.disabled:hover[disabled]:active,
.datepicker table tr td.active.disabled:hover[disabled]:focus,
.datepicker table tr td.active.disabled:hover[disabled]:hover,
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled[disabled].active,
.datepicker table tr td.active.disabled[disabled]:active,
.datepicker table tr td.active.disabled[disabled]:focus,
.datepicker table tr td.active.disabled[disabled]:hover,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover.disabled.active,
.datepicker table tr td.active:hover.disabled:active,
.datepicker table tr td.active:hover.disabled:focus,
.datepicker table tr td.active:hover.disabled:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active:hover[disabled].active,
.datepicker table tr td.active:hover[disabled]:active,
.datepicker table tr td.active:hover[disabled]:focus,
.datepicker table tr td.active:hover[disabled]:hover,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active[disabled].active,
.datepicker table tr td.active[disabled]:active,
.datepicker table tr td.active[disabled]:focus,
.datepicker table tr td.active[disabled]:hover,
fieldset[disabled] .datepicker table tr td.active,
fieldset[disabled] .datepicker table tr td.active.active,
fieldset[disabled] .datepicker table tr td.active.disabled,
fieldset[disabled] .datepicker table tr td.active.disabled.active,
fieldset[disabled] .datepicker table tr td.active.disabled:active,
fieldset[disabled] .datepicker table tr td.active.disabled:focus,
fieldset[disabled] .datepicker table tr td.active.disabled:hover,
fieldset[disabled] .datepicker table tr td.active.disabled:hover.active,
fieldset[disabled] .datepicker table tr td.active.disabled:hover:active,
fieldset[disabled] .datepicker table tr td.active.disabled:hover:focus,
fieldset[disabled] .datepicker table tr td.active.disabled:hover:hover,
fieldset[disabled] .datepicker table tr td.active:active,
fieldset[disabled] .datepicker table tr td.active:focus,
fieldset[disabled] .datepicker table tr td.active:hover,
fieldset[disabled] .datepicker table tr td.active:hover.active,
fieldset[disabled] .datepicker table tr td.active:hover:active,
fieldset[disabled] .datepicker table tr td.active:hover:focus,
fieldset[disabled] .datepicker table tr td.active:hover:hover {
    background-color: #428bca
}

.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    border-radius: 1px
}

.datepicker table tr td span:hover {
    background: #eee
}

.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
    background: 0 0;
    color: #999;
    cursor: default
}

.datepicker table tr td span.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover {
    color: #fff;
    background-color: #428bca;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active:hover:hover,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover,
.open .dropdown-toggle.datepicker table tr td span.active:hover {
    color: #fff;
    background-color: #3276b1
}

.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover,
.open .dropdown-toggle.datepicker table tr td span.active:hover {
    background-image: none
}

.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled.disabled.active,
.datepicker table tr td span.active.disabled.disabled:active,
.datepicker table tr td span.active.disabled.disabled:focus,
.datepicker table tr td span.active.disabled.disabled:hover,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active.disabled:hover.disabled.active,
.datepicker table tr td span.active.disabled:hover.disabled:active,
.datepicker table tr td span.active.disabled:hover.disabled:focus,
.datepicker table tr td span.active.disabled:hover.disabled:hover,
.datepicker table tr td span.active.disabled:hover[disabled],
.datepicker table tr td span.active.disabled:hover[disabled].active,
.datepicker table tr td span.active.disabled:hover[disabled]:active,
.datepicker table tr td span.active.disabled:hover[disabled]:focus,
.datepicker table tr td span.active.disabled:hover[disabled]:hover,
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled[disabled].active,
.datepicker table tr td span.active.disabled[disabled]:active,
.datepicker table tr td span.active.disabled[disabled]:focus,
.datepicker table tr td span.active.disabled[disabled]:hover,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active:hover.disabled.active,
.datepicker table tr td span.active:hover.disabled:active,
.datepicker table tr td span.active:hover.disabled:focus,
.datepicker table tr td span.active:hover.disabled:hover,
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active:hover[disabled].active,
.datepicker table tr td span.active:hover[disabled]:active,
.datepicker table tr td span.active:hover[disabled]:focus,
.datepicker table tr td span.active:hover[disabled]:hover,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active[disabled].active,
.datepicker table tr td span.active[disabled]:active,
.datepicker table tr td span.active[disabled]:focus,
.datepicker table tr td span.active[disabled]:hover,
fieldset[disabled] .datepicker table tr td span.active,
fieldset[disabled] .datepicker table tr td span.active.active,
fieldset[disabled] .datepicker table tr td span.active.disabled,
fieldset[disabled] .datepicker table tr td span.active.disabled.active,
fieldset[disabled] .datepicker table tr td span.active.disabled:active,
fieldset[disabled] .datepicker table tr td span.active.disabled:focus,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover.active,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover:active,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover:focus,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover:hover,
fieldset[disabled] .datepicker table tr td span.active:active,
fieldset[disabled] .datepicker table tr td span.active:focus,
fieldset[disabled] .datepicker table tr td span.active:hover,
fieldset[disabled] .datepicker table tr td span.active:hover.active,
fieldset[disabled] .datepicker table tr td span.active:hover:active,
fieldset[disabled] .datepicker table tr td span.active:hover:focus,
fieldset[disabled] .datepicker table tr td span.active:hover:hover {
    background-color: #428bca
}

.datepicker table tr td span.new,
.datepicker table tr td span.old {
    color: #999
}

.datepicker th.datepicker-switch {
    width: 145px
}

.datepicker tfoot tr th,
.datepicker thead tr:first-child th {
    cursor: pointer
}

.datepicker tfoot tr th:hover,
.datepicker thead tr:first-child th:hover {
    background: #eee
}

.datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle
}

.datepicker thead tr:first-child th.cw {
    cursor: default;
    background-color: transparent
}

.input-group.date .input-group-addon i {
    cursor: pointer;
    width: 16px;
    height: 16px
}

.input-daterange input {
    text-align: center
}

.input-daterange input:first-child {
    border-radius: 1px 0 0 1px
}

.input-daterange input:last-child {
    border-radius: 0 1px 1px 0
}

.input-daterange .input-group-addon {
    width: auto;
    min-width: 16px;
    padding: 4px 5px;
    font-weight: 400;
    line-height: 1.428571429;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    background-color: #eee;
    border-width: 1px 0;
    margin-left: -5px;
    margin-right: -5px
}

.datepicker.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 26.2rem;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #333;
    font-size: 1.4rem;
    line-height: 1.428571429
}

.datepicker.datepicker-inline td,
.datepicker.datepicker-inline th,
.datepicker.dropdown-menu td,
.datepicker.dropdown-menu th {
    padding: 0 5px
}

@media(max-width:767px) {
    .datepicker.dropdown-menu {
        width: 100%;
        left: 0 !important
    }
}
